In [2]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import roster, os, json, sys
print(sys.executable)

 2021-08-22 20:51:54,292 - DEBUG- Start of program

2020-01-01   New Year's Day
2020-01-26   Australia Day
2020-01-27   Australia Day (Observed)
2020-03-09   Labour Day
2020-04-10   Good Friday
2020-04-11   Easter Saturday
2020-04-12   Easter Sunday
2020-04-13   Easter Monday
2020-04-25   Anzac Day
2020-06-08   Queen's Birthday
2020-10-23   Grand Final Day
2020-11-03   Melbourne Cup
2020-12-25   Christmas Day
2020-12-26   Boxing Day
2020-12-28   Boxing Day (Observed)
D:\Anaconda\envs\payroll_and_roster\python.exe

In [66]:
working_dir = r'A:\Python\payroll_and_roster'
con = create_engine("sqlite:///swaps.db", echo=False)

In [3]:
roster = roster.Roster()

In [20]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    df =roster.df.reset_index('rosDay')
    print(df[df.rosDay<3])

         rosDay  Unnamed: 0       id    hours     start    finish   rest
rosLine
1             1           0      OFF      NaN       NaT       NaT  False
1             2           0      OFF      NaN       NaT       NaT  False
2             1           0      OFF      NaN       NaT       NaT  False
2             2           0  SPER110     5:47  17:28:00  23:15:00  False
3             1           0  SPER103     5:44  18:02:00  23:46:00  False
3             2           0  SPEX114     6:52  12:45:00  19:37:00   True
4             1           0  SPEX104     6:06  06:00:00  12:06:00   True
4             2           0      OFF      NaN       NaT       NaT  False
5             1           0      OFF      NaN       NaT       NaT  False
5             2           0   SPE142     7:14  06:19:00  13:33:00  False
6             1           0      OFF      NaN       NaT       NaT  False
6             2           0   SPE138     7:54  05:51:00  13:45:00  False
7             1           0      OFF      NaN       NaT       NaT  False
7             2           0   SPE151     7:13  11:56:00  19:09:00  False
8             1           0   SPE102     6:32  06:19:00  12:51:00  False
8             2           0   SPE128     8:23  04:52:00  13:15:00  False
9             1           0      OFF      NaN       NaT       NaT  False
9             2           0   SPE126     6:00  04:14:00  10:14:00  False
10            1           0      OFF      NaN       NaT       NaT  False
10            2           0   SPE164     7:27  15:02:00  22:29:00  False
11            1           0      OFF      NaN       NaT       NaT  False
11            2           0   SPE162     7:31  14:22:00  21:53:00  False
12            1           0   SPE107     6:58  07:20:00  14:18:00  False
12            2           0      OFF      NaN       NaT       NaT  False
13            1           0   SPE104     9:09  06:44:00  15:53:00  False
13            2           0   SPE140     6:00  05:57:00  11:57:00  False
14            1           0      OFF      NaN       NaT       NaT  False
14            2           0      OFF      NaN       NaT       NaT  False
15            1           0   SPE119     8:58  14:32:00  23:30:00  False
15            2           0   SPE166     7:59  15:21:00  23:20:00  False
16            1           0   SPE100     8:02  06:09:00  14:11:00  False
16            2           0   SPE144     8:00  06:26:00  14:26:00  False
17            1           0   SPE115     6:58  12:30:00  19:28:00  False
17            2           0   SPE154     8:18  12:39:00  20:57:00  False
18            1           0      OFF      NaN       NaT       NaT  False
18            2           0   SPE127     6:06  04:39:00  10:45:00  False
19            1           0      OFF      NaN       NaT       NaT  False
19            2           0      OFF      NaN       NaT       NaT  False
20            1           0   SPE117     6:00  13:30:00  19:30:00  False
20            2           0   SPE160     8:51  13:30:00  22:21:00  False
21            1           0      OFF      NaN       NaT       NaT  False
21            2           0   SPE143     9:08  06:21:00  15:29:00  False
22            1           0      OFF      NaN       NaT       NaT  False
22            2           0   SPE134     6:47  05:31:00  12:18:00  False
23            1           0      OFF      NaN       NaT       NaT  False
23            2           0      OFF      NaN       NaT       NaT  False
24            1           0      OFF      NaN       NaT       NaT  False
24            2           0      EDO      NaN       NaT       NaT  False
25            1           0      OFF      NaN       NaT       NaT  False
25            2           0   SPE141     8:06  06:07:00  14:13:00  False
26            1           0      OFF      NaN       NaT       NaT  False
26            2           0   SPE150     7:29  11:55:00  19:24:00  False
27            1           0      OFF      NaN       NaT       NaT  False
27            2           0      OFF      NaN       NaT       NaT  False
28            1           0      OFF      NaN       NaT       NaT  False
28            2           0      OFF      NaN       NaT       NaT  False
29            1           0      OFF      NaN       NaT       NaT  False
29            2           0  SPER108     6:11  06:54:00  13:05:00  False
30            1           0  SPER100     5:55  06:54:00  12:49:00  False
30            2           0  SPEX111     6:04  06:00:00  12:04:00   True
31            1           0  SPEX105     6:06  06:00:00  12:06:00   True
31            2           0   SPE145     9:32  06:31:00  16:03:00  False
32            1           0      OFF      NaN       NaT       NaT  False
32            2           0   SPE173     8:45  16:12:00  00:57:00  False
33            1           0      OFF      NaN       NaT       NaT  False
33            2           0      OFF      NaN       NaT       NaT  False
34            1           0      OFF      NaN       NaT       NaT  False
34            2           0      EDO      NaN       NaT       NaT  False
35            1           0      OFF      NaN       NaT       NaT  False
35            2           0   SPE129     6:00  04:52:00  10:52:00  False
36            1           0   SPE121     6:55  14:50:00  21:45:00  False
36            2           0   SPE177     6:06  16:23:00  22:29:00  False
37            1           0      OFF      NaN       NaT       NaT  False
37            2           0      EDO      NaN       NaT       NaT  False
38            1           0   SPE110     7:18  08:35:00  15:53:00  False
38            2           0   SPE147     6:36  06:42:00  13:18:00  False
39            1           0   SPE113     6:00  10:32:00  16:32:00  False
39            2           0   SPE148     9:23  11:24:00  20:47:00  False
40            1           0   SPE125     6:00  16:21:00  22:21:00  False
40            2           0   SPE176     6:00  16:21:00  22:21:00  False
41            1           0   SPE122     8:19  14:53:00  23:12:00  False
41            2           0   SPE163     7:02  14:50:00  21:52:00  False
42            1           0   SPE116     8:00  12:32:00  20:32:00  False
42            2           0   SPE153     8:55  12:32:00  21:27:00  False
43            1           0   SPE112     8:58  09:50:00  18:48:00  False
43            2           0   SPE158     9:09  13:16:00  22:25:00  False
44            1           0      OFF      NaN       NaT       NaT  False
44            2           0   SPE146     9:38  06:37:00  16:15:00  False
45            1           0      OFF      NaN       NaT       NaT  False
45            2           0   SPE181     8:22  17:08:00  01:30:00  False
46            1           0      OFF      NaN       NaT       NaT  False
46            2           0   SPE174     7:48  16:15:00  00:03:00  False
47            1           0      OFF      NaN       NaT       NaT  False
47            2           0   SPE179     7:29  16:30:00  23:59:00  False
48            1           0      OFF      NaN       NaT       NaT  False
48            2           0      OFF      NaN       NaT       NaT  False
49            1           0      OFF      NaN       NaT       NaT  False
49            2           0   SPE135     6:00  05:31:00  11:31:00  False
50            1           0   SPE106  9 : 4 8  07:16:00  17:04:00  False
50            2           0      OFF      NaN       NaT       NaT  False
51            1           0   SPE123     7:37  15:56:00  23:33:00  False
51            2           0   SPE155     9:49  12:50:00  22:39:00  False
52            1           0   SPE109     6:26  08:32:00  14:58:00  False
52            2           0   SPE132     7:43  05:14:00  12:57:00  False
53            1           0       AV     8:00  11:00:00  19:00:00  False
53            2           0   SPE178     8:53  16:27:00  01:20:00  False
54            1           0   SPE124     8:30  16:02:00  00:32:00  False
54            2           0   SPE175     9:16  16:21:00  01:37:00  False
55            1           0  SPER101     5:50  06:59:00  12:49:00  False
55            2           0  SPEX112     6:04  06:00:00  12:04:00   True
56            1           0  SPER102     5:54  17:16:00  23:10:00  False
56            2           0  SPEX113     5:20  11:56:00  17:16:00   True
57            1           0  SPEX107     5:42  16:06:00  21:48:00   True
57            2           0   SPE167     6:17  15:26:00  21:43:00  False
58            1           0  SPEX106     5:20  11:56:00  17:16:00   True
58            2           0   SPE152     7:19  12:22:00  19:41:00  False
59            1           0   SPE105     8:57  06:44:00  15:41:00  False
59            2           0   SPE130     6:46  04:59:00  11:45:00  False
60            1           0   SPE101     9:50  06:14:00  16:04:00  False
60            2           0      OFF      NaN       NaT       NaT  False
61            1           0      OFF      NaN       NaT       NaT  False
61            2           0   SPE170     7:58  15:39:00  23:37:00  False
62            1           0   SPE120     7:39  14:42:00  22:21:00  False
62            2           0   SPE180     7:30  16:47:00  00:17:00  False
63            1           0      OFF      NaN       NaT       NaT  False
63            2           0       AV     8:00  16:00:00  00:00:00  False
64            1           0      OFF      NaN       NaT       NaT  False
64            2           0      OFF      NaN       NaT       NaT  False
65            1           0      OFF      NaN       NaT       NaT  False
65            2           0   SPE171     6:34  15:43:00  22:17:00  False
66            1           0   SPE114     7:56  11:16:00  19:12:00  False
66            2           0   SPE149     7:50  11:42:00  19:32:00  False
67            1           0      OFF      NaN       NaT       NaT  False
67            2           0   SPE168     8:25  15:28:00  23:53:00  False
68            1           0       AV     8:00  15:00:00  23:00:00  False
68            2           0       AV     8:00  15:00:00  23:00:00  False
69            1           0   SPE111     9:06  08:45:00  17:51:00  False
69            2           0      OFF      NaN       NaT       NaT  False
70            1           0   SPE108     6:42  07:40:00  14:22:00  False
70            2           0   SPE131     7:48  05:09:00  12:57:00  False
71            1           0      OFF      NaN       NaT       NaT  False
71            2           0   SPE136     7:21  05:44:00  13:05:00  False
72            1           0      OFF      NaN       NaT       NaT  False
72            2           0       AV     8:00  13:00:00  21:00:00  False
73            1           0      OFF      NaN       NaT       NaT  False
73            2           0       AV     8:00  05:00:00  13:00:00  False
74            1           0      OFF      NaN       NaT       NaT  False
74            2           0       AV     8:00  06:00:00  14:00:00  False
75            1           0       AV     8:00  06:00:00  14:00:00  False
75            2           0       AV     8:00  04:30:00  12:30:00  False
76            1           0      OFF      NaN       NaT       NaT  False
76            2           0       AV     8:00  15:00:00  23:00:00  False

In [14]:
with open(working_dir + "\\swaps.db") as file:
    swaps = gui.Swaps()
    swaps.swaps = pd.read_sql('Swaps', con)

NameError: name 'working_dir' is not defined

In [ ]:
df = pd.read_csv(working_dir+"//rosterDataFrame.csv", parse_dates=['start','finish'])

In [1]:
import sys
print(sys.executable)

D:\Anaconda\envs\payroll_and_roster\python.exe

In [109]:
cal = gui.calend(datetime(2021,2,1))
roster_ = roster.Roster()
shifts = gui.get_shifts(cal, roster_, 1)
x = [True if i > 0 else False for i in cal.itermonthdays(cal.date.year,cal.date.month)]
shifts = shifts[:len(x)]
#shifts['start'] = pd.to_datetime(shifts['start']).dt.time
#shifts['start'].iloc[0]
shifts
[print(i)for i in cal.itermonthdays(cal.date.year,cal.date.month)]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
0
0
0
0
0
0

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [107]:
if os.path.exists(working_dir+'\\guiSettings.json'):
    with open(working_dir + "\\guiSettings.json") as file:
        settings = json.load(file)
    line = settings['initialLine']

    #service = get_creds()
    shifts=gui.get_shifts(cal, roster, line)
    c = [i for i in cal.itermonthdates(cal.date.year, cal.date.month)]
    ii = 0
    for i, row in shifts.iterrows():
        print('-----------')
        print(ii)
        row['date'] = c[ii]
        print(roster.format_job(row))
        ii+=1

AttributeError: module 'roster' has no attribute 'df'

In [3]:
def dum_print(arg1, arg2):
    print(arg1)
    print(arg2)

two_args = ['langa is',  'dum']

print_two_args(two_args)
#this doesnt work coz dum_print is expecting two arguements



print_two_args(*two_args)
#this does work because the * unpacks the two_args list before passing it to dum_print

langa is
dum

In [31]:
nw = pd.DataFrame({'swap_with':['TEST'], 'to_line': [6], 'dates': [datetime(2021,12,30)]})

In [32]:
swaps.swaps = swaps.swaps.append(nw, ignore_index=True)
swaps.swaps

   swap_with to_line      dates
0       name       0 2021-02-25
1       name       0 2021-02-24
2       name       0 2021-02-23
3       name       0 2021-02-16
4       name       0 2021-02-17
5       name       0 2021-02-18
6       name       0 2021-02-11
7       name       0 2021-02-10
8       name       0 2021-02-09
9       TEST       6 2021-06-30
10      TEST       6 2021-06-30
11      TEST       6 2021-12-30

In [57]:
s = swaps.swaps
s[['to_line','dates']]

   to_line      dates
0        0 2021-02-25
1        0 2021-02-24
2        0 2021-02-23
3        0 2021-02-16
4        0 2021-02-17
5        0 2021-02-18
6        0 2021-02-11
7        0 2021-02-10
8        0 2021-02-09
9        6 2021-06-30
10       6 2021-06-30
11       6 2021-12-30

In [53]:
d = datetime(2021,12,30).date()
s[s.dates == pd.Timestamp(d)]

   swap_with to_line      dates
11      TEST       6 2021-12-30

In [2]:
import tabula, roster, os
if os.environ['COMPUTERNAME'] == 'JMLAPTOP':
    pdfPath =   r'C:\Users\james\PycharmProjects\payroll_and_roster\MasterRoster.pdf'
elif os.environ['COMPUTERNAME'] == 'JAMESPC':
    pdfPath = r'A:\Python\payroll_and_roster\\MasterRoster.pdf'
print(pdfPath)

 2021-01-12 15:32:39,632 - DEBUG- Start of program

2020-01-01   New Year's Day
2020-01-26   Australia Day
2020-01-27   Australia Day (Observed)
2020-03-09   Labour Day
2020-04-10   Good Friday
2020-04-11   Easter Saturday
2020-04-12   Easter Sunday
2020-04-13   Easter Monday
2020-04-25   Anzac Day
2020-06-08   Queen's Birthday
2020-10-23   Grand Final Day
2020-11-03   Melbourne Cup
2020-12-25   Christmas Day
2020-12-26   Boxing Day
2020-12-28   Boxing Day (Observed)
A:\Python\payroll_and_roster\\MasterRoster.pdf

In [3]:
pdfFullPages = 8 + 1 
lastPcoords = [148.6, 107.0 ,1166.4, 251.5]
tabular_roster = pd.DataFrame()
for i in range(1,pdfFullPages+1):
    roster_pdf = open(pdfPath,'rb')
    #coords of the area in the roster found using GIMP:
    if i == pdfFullPages+1:
        x = tabula.read_pdf(roster_pdf, pages=int(i), lattice=1, area=lastPcoords)
        print('AA')
    else:
        x = tabula.read_pdf(roster_pdf, pages=int(i), lattice=1, area=[100,149,589, 1167.9])
    x.dropna(axis=0, thresh=30, inplace=True)
    x.dropna(axis=1,how='all', inplace=True)
    x.columns = [str(i) for i in range(1,15)] + ['h1'] + [str(i) for i in range(15,29)] + ['h2']
    tabular_roster = tabular_roster.append(x)
    
tabular_roster.index = [str(i+1) for i in range(len(tabular_roster))]
tabular_roster.drop(['h1', 'h2'], axis=1, inplace=True)

In [4]:
def fix_times(timeStr):
    if timeStr == '2400':
        timeStr='0000'
    return datetime.strptime(timeStr, "%H%M").time()
    
def fix_cell(x):
    fix_cell.helper +=1
    try:
        if x.startswith('OFF'):
            items = {'id': 'OFF', 'hours':None, 'start':None, 'finish': None, 'rest':False}
        elif x.startswith('SPE'):
            items = x.split('\r')
            fixTimes = items[2].split('-')
            del items[2]
            fixTimes = [fix_times(i) for i in fixTimes]
            items = {'id':items[0], 'hours':items[1], 'start':fixTimes[0], 'finish':fixTimes[1], 'rest':False}
            if x.startswith('SPEX'):
                items['rest'] = True
        elif x.startswith('EDO'):
            items = {'id': 'EDO', 'hours':None, 'start':None, 'finish': None, 'rest':False}
        elif x.lower().startswith('av'):
            start, finish = x.split('\r')[-1].split('-')
            job = {'id':'AV', 'hours':'8:00', 'start':fix_times(start), 'finish':fix_times(finish), 'rest':False}
            return job
        else:
            print([x])
            return x
        return items
    except(IndexError):
        print('INDEX ERROR PASSING FOLLOWING:  ' + x)
        print('col ' + str(fix_cell.helper//len(tabular_roster)))
        print('row ' + str(fix_cell.helper%len(tabular_roster)))
        return x
fix_cell.helper = 0

In [5]:
tabular_roster = tabular_roster.applymap(fix_cell)

In [6]:
#tabular_roster.index.name = 'rost_line'
#tabular_roster.rename_axis('day', axis=1)

In [7]:
df = pd.DataFrame()
for i in tabular_roster.iterrows():
        for ii, dic in enumerate(i[1]):
            dic['rosDay'] = ii + 1
            dic['rosLine'] = int(i[0])
            temp_df = pd.DataFrame(dic, index=[0])
            df = df.append(temp_df)

In [8]:
a = df.set_index(['rosLine','rosDay'])
a.index.get_loc((4,3))

86

In [9]:
a

                     id hours     start    finish   rest
rosLine rosDay
1       1           OFF  None      None      None  False
        2           OFF  None      None      None  False
        3       SPER109  5:50  06:59:00  12:49:00  False
        4       SPEX112  6:04  06:00:00  12:04:00   True
        5        SPE130  6:46  04:59:00  11:45:00  False
...                 ...   ...       ...       ...    ...
83      24           AV  8:00  11:00:00  19:00:00  False
        25           AV  8:00  11:00:00  19:00:00  False
        26           AV  8:00  11:00:00  19:00:00  False
        27           AV  8:00  11:00:00  19:00:00  False
        28          OFF  None      None      None  False

[2324 rows x 5 columns]

In [1]:
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'USERS'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

In [5]:
User.__table__

Table('USERS', MetaData(bind=None), Column('id', Integer(), table=<USERS>, primary_key=True, nullable=False), Column('name', String(), table=<USERS>), Column('fullname', String(), table=<USERS>), Column('nickname', String(), table=<USERS>), schema=None)

In [6]:
Base.metadata.create_all(engine)

2021-01-20 12:56:07,195 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-20 12:56:07,197 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,198 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-20 12:56:07,199 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,200 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("USERS")
2021-01-20 12:56:07,201 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,202 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("USERS")
2021-01-20 12:56:07,203 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,204 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "USERS" (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2021-01-20 12:56:07,204 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,205 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [8]:
ed_user.id

In [9]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [10]:
session = Session()

In [11]:
session.add(ed_user)

In [12]:
our_user = session.query(User).filter_by(name='ed').first()

2021-01-20 12:56:08,371 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:08,372 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:08,373 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edsnickname')
2021-01-20 12:56:08,375 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name = ?
 LIMIT ? OFFSET ?
2021-01-20 12:56:08,376 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [13]:
our_user

In [14]:
session.add_all([
     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
     User(name='mary', fullname='Mary Contrary', nickname='mary'),
     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [15]:
ed_user.nickname = 'eddie'

In [16]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', nickname='eddie')>])

In [17]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <User(name='mary', fullname='Mary Contrary', nickname='mary')>, <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>])

In [18]:
session.commit()

2021-01-20 12:56:09,700 INFO sqlalchemy.engine.base.Engine UPDATE "USERS" SET nickname=? WHERE "USERS".id = ?
2021-01-20 12:56:09,700 INFO sqlalchemy.engine.base.Engine ('eddie', 1)
2021-01-20 12:56:09,701 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,702 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'windy')
2021-01-20 12:56:09,703 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,703 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'mary')
2021-01-20 12:56:09,704 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,705 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flintstone', 'freddy')
2021-01-20 12:56:09,705 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
ed_user.name = 'Edwardo'

In [20]:
fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
session.add(fake_user)

In [21]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2021-01-20 12:56:10,925 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:10,926 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".id = ?
2021-01-20 12:56:10,927 INFO sqlalchemy.engine.base.Engine (1,)
2021-01-20 12:56:10,928 INFO sqlalchemy.engine.base.Engine UPDATE "USERS" SET name=? WHERE "USERS".id = ?
2021-01-20 12:56:10,929 INFO sqlalchemy.engine.base.Engine ('Edwardo', 1)
2021-01-20 12:56:10,930 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:10,930 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2021-01-20 12:56:10,931 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name IN (?, ?)
2021-01-20 12:56:10,932 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[<User(name='Edwardo', fullname='Ed Jones', nickname='eddie')>,
 <User(name='fakeuser', fullname='Invalid', nickname='12345')>]

In [22]:
session.rollback()

2021-01-20 12:56:11,304 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [23]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2021-01-20 12:56:11,692 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:11,693 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name IN (?, ?)
2021-01-20 12:56:11,694 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[]

In [26]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2021-01-20 12:59:22,557 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS" ORDER BY "USERS".id
2021-01-20 12:59:22,558 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [32]:
for row in session.query(User.fullname.label('name_label')).all():
    print(row.name_label)

2021-01-20 13:00:27,865 INFO sqlalchemy.engine.base.Engine SELECT "USERS".fullname AS name_label
FROM "USERS"
2021-01-20 13:00:27,866 INFO sqlalchemy.engine.base.Engine ()
Ed Jones
Wendy Williams
Mary Contrary
Fred Flintstone