In [65]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import gui, roster

In [66]:
working_dir = r'A:\Python\payroll_and_roster'
con = create_engine("sqlite:///swaps.db", echo=False)

In [67]:
with open(working_dir + "\\swaps.db") as file:
    swaps = gui.Swaps()
    swaps.swaps = pd.read_sql('Swaps', con)

In [89]:
cal = gui.calend(datetime(2021,2,1))
roster_ = roster.Roster()
shifts = gui.get_shifts(cal, roster_, 1)
x = [True if i > 0 else False for i in cal.itermonthdays(cal.date.year,cal.date.month)]
shifts = shifts[:len(x)]
shifts[x]

                Unnamed: 0       id hours               start  \
rosLine rosDay
1       16               0   SPE162  7:31 2021-01-22 14:22:00
        17               0   SPE166  7:59 2021-01-22 15:21:00
        18               0   SPE166  7:59 2021-01-22 15:21:00
        19               0      EDO   NaN                 NaT
        20               0      OFF   NaN                 NaT
        21               0      OFF   NaN                 NaT
        22               0      OFF   NaN                 NaT
        23               0   SPE142  7:14 2021-01-22 06:19:00
        24               0   SPE142  7:14 2021-01-22 06:19:00
        25               0   SPE141  8:06 2021-01-22 06:07:00
        26               0   SPE141  8:06 2021-01-22 06:07:00
        27               0   SPE134  6:47 2021-01-22 05:31:00
        28               0      OFF   NaN                 NaT
2       1                0      OFF   NaN                 NaT
        2                0  SPER110  5:47 2021-01-22 17:28:00
        3                0  SPEX114  6:32 2021-01-22 13:05:00
        4                0   SPE151  7:13 2021-01-22 11:56:00
        5                0   SPE151  7:13 2021-01-22 11:56:00
        6                0      OFF   NaN                 NaT
        7                0   SPE203  7:28 2021-01-22 13:50:00
        8                0   SPE117  6:00 2021-01-22 13:30:00
        9                0   SPE160  8:51 2021-01-22 13:30:00
        10               0   SPE160  8:51 2021-01-22 13:30:00
        11               0   SPE159  6:19 2021-01-22 13:22:00
        12               0   SPE159  6:19 2021-01-22 13:22:00
        13               0      OFF   NaN                 NaT
        14               0      OFF   NaN                 NaT
        15               0      OFF   NaN                 NaT

                            finish   rest
rosLine rosDay
1       16     2021-01-22 21:53:00  False
        17     2021-01-22 23:20:00  False
        18     2021-01-22 23:20:00  False
        19                     NaT  False
        20                     NaT  False
        21                     NaT  False
        22                     NaT  False
        23     2021-01-22 13:33:00  False
        24     2021-01-22 13:33:00  False
        25     2021-01-22 14:13:00  False
        26     2021-01-22 14:13:00  False
        27     2021-01-22 12:18:00  False
        28                     NaT  False
2       1                      NaT  False
        2      2021-01-22 23:15:00  False
        3      2021-01-22 19:37:00   True
        4      2021-01-22 19:09:00  False
        5      2021-01-22 19:09:00  False
        6                      NaT  False
        7      2021-01-22 21:18:00  False
        8      2021-01-22 19:30:00  False
        9      2021-01-22 22:21:00  False
        10     2021-01-22 22:21:00  False
        11     2021-01-22 19:41:00  False
        12     2021-01-22 19:41:00  False
        13                     NaT  False
        14                     NaT  False
        15                     NaT  False

In [31]:
nw = pd.DataFrame({'swap_with':['TEST'], 'to_line': [6], 'dates': [datetime(2021,12,30)]})

In [32]:
swaps.swaps = swaps.swaps.append(nw, ignore_index=True)
swaps.swaps

   swap_with to_line      dates
0       name       0 2021-02-25
1       name       0 2021-02-24
2       name       0 2021-02-23
3       name       0 2021-02-16
4       name       0 2021-02-17
5       name       0 2021-02-18
6       name       0 2021-02-11
7       name       0 2021-02-10
8       name       0 2021-02-09
9       TEST       6 2021-06-30
10      TEST       6 2021-06-30
11      TEST       6 2021-12-30

In [57]:
s = swaps.swaps
s[['to_line','dates']]

   to_line      dates
0        0 2021-02-25
1        0 2021-02-24
2        0 2021-02-23
3        0 2021-02-16
4        0 2021-02-17
5        0 2021-02-18
6        0 2021-02-11
7        0 2021-02-10
8        0 2021-02-09
9        6 2021-06-30
10       6 2021-06-30
11       6 2021-12-30

In [53]:
d = datetime(2021,12,30).date()
s[s.dates == pd.Timestamp(d)]

   swap_with to_line      dates
11      TEST       6 2021-12-30

In [2]:
import tabula, roster, os
if os.environ['COMPUTERNAME'] == 'JMLAPTOP':
    pdfPath =   r'C:\Users\james\PycharmProjects\payroll_and_roster\MasterRoster.pdf'
elif os.environ['COMPUTERNAME'] == 'JAMESPC':
    pdfPath = r'A:\Python\payroll_and_roster\\MasterRoster.pdf'
print(pdfPath)

 2021-01-12 15:32:39,632 - DEBUG- Start of program

2020-01-01   New Year's Day
2020-01-26   Australia Day
2020-01-27   Australia Day (Observed)
2020-03-09   Labour Day
2020-04-10   Good Friday
2020-04-11   Easter Saturday
2020-04-12   Easter Sunday
2020-04-13   Easter Monday
2020-04-25   Anzac Day
2020-06-08   Queen's Birthday
2020-10-23   Grand Final Day
2020-11-03   Melbourne Cup
2020-12-25   Christmas Day
2020-12-26   Boxing Day
2020-12-28   Boxing Day (Observed)
A:\Python\payroll_and_roster\\MasterRoster.pdf

In [3]:
pdfFullPages = 8 + 1 
lastPcoords = [148.6, 107.0 ,1166.4, 251.5]
tabular_roster = pd.DataFrame()
for i in range(1,pdfFullPages+1):
    roster_pdf = open(pdfPath,'rb')
    #coords of the area in the roster found using GIMP:
    if i == pdfFullPages+1:
        x = tabula.read_pdf(roster_pdf, pages=int(i), lattice=1, area=lastPcoords)
        print('AA')
    else:
        x = tabula.read_pdf(roster_pdf, pages=int(i), lattice=1, area=[100,149,589, 1167.9])
    x.dropna(axis=0, thresh=30, inplace=True)
    x.dropna(axis=1,how='all', inplace=True)
    x.columns = [str(i) for i in range(1,15)] + ['h1'] + [str(i) for i in range(15,29)] + ['h2']
    tabular_roster = tabular_roster.append(x)
    
tabular_roster.index = [str(i+1) for i in range(len(tabular_roster))]
tabular_roster.drop(['h1', 'h2'], axis=1, inplace=True)

In [4]:
def fix_times(timeStr):
    if timeStr == '2400':
        timeStr='0000'
    return datetime.strptime(timeStr, "%H%M").time()
    
def fix_cell(x):
    fix_cell.helper +=1
    try:
        if x.startswith('OFF'):
            items = {'id': 'OFF', 'hours':None, 'start':None, 'finish': None, 'rest':False}
        elif x.startswith('SPE'):
            items = x.split('\r')
            fixTimes = items[2].split('-')
            del items[2]
            fixTimes = [fix_times(i) for i in fixTimes]
            items = {'id':items[0], 'hours':items[1], 'start':fixTimes[0], 'finish':fixTimes[1], 'rest':False}
            if x.startswith('SPEX'):
                items['rest'] = True
        elif x.startswith('EDO'):
            items = {'id': 'EDO', 'hours':None, 'start':None, 'finish': None, 'rest':False}
        elif x.lower().startswith('av'):
            start, finish = x.split('\r')[-1].split('-')
            job = {'id':'AV', 'hours':'8:00', 'start':fix_times(start), 'finish':fix_times(finish), 'rest':False}
            return job
        else:
            print([x])
            return x
        return items
    except(IndexError):
        print('INDEX ERROR PASSING FOLLOWING:  ' + x)
        print('col ' + str(fix_cell.helper//len(tabular_roster)))
        print('row ' + str(fix_cell.helper%len(tabular_roster)))
        return x
fix_cell.helper = 0

In [5]:
tabular_roster = tabular_roster.applymap(fix_cell)

In [6]:
#tabular_roster.index.name = 'rost_line'
#tabular_roster.rename_axis('day', axis=1)

In [7]:
df = pd.DataFrame()
for i in tabular_roster.iterrows():
        for ii, dic in enumerate(i[1]):
            dic['rosDay'] = ii + 1
            dic['rosLine'] = int(i[0])
            temp_df = pd.DataFrame(dic, index=[0])
            df = df.append(temp_df)

In [8]:
a = df.set_index(['rosLine','rosDay'])
a.index.get_loc((4,3))

86

In [9]:
a

                     id hours     start    finish   rest
rosLine rosDay
1       1           OFF  None      None      None  False
        2           OFF  None      None      None  False
        3       SPER109  5:50  06:59:00  12:49:00  False
        4       SPEX112  6:04  06:00:00  12:04:00   True
        5        SPE130  6:46  04:59:00  11:45:00  False
...                 ...   ...       ...       ...    ...
83      24           AV  8:00  11:00:00  19:00:00  False
        25           AV  8:00  11:00:00  19:00:00  False
        26           AV  8:00  11:00:00  19:00:00  False
        27           AV  8:00  11:00:00  19:00:00  False
        28          OFF  None      None      None  False

[2324 rows x 5 columns]

In [1]:
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'USERS'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    def __repr__(self):
        return "<User(name='%s', fullname='%s', nickname='%s')>" % (self.name, self.fullname, self.nickname)

In [5]:
User.__table__

Table('USERS', MetaData(bind=None), Column('id', Integer(), table=<USERS>, primary_key=True, nullable=False), Column('name', String(), table=<USERS>), Column('fullname', String(), table=<USERS>), Column('nickname', String(), table=<USERS>), schema=None)

In [6]:
Base.metadata.create_all(engine)

2021-01-20 12:56:07,195 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-20 12:56:07,197 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,198 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-20 12:56:07,199 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,200 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("USERS")
2021-01-20 12:56:07,201 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,202 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("USERS")
2021-01-20 12:56:07,203 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,204 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "USERS" (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2021-01-20 12:56:07,204 INFO sqlalchemy.engine.base.Engine ()
2021-01-20 12:56:07,205 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
ed_user = User(name='ed', fullname='Ed Jones', nickname='edsnickname')

In [8]:
ed_user.id

In [9]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [10]:
session = Session()

In [11]:
session.add(ed_user)

In [12]:
our_user = session.query(User).filter_by(name='ed').first()

2021-01-20 12:56:08,371 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:08,372 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:08,373 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'edsnickname')
2021-01-20 12:56:08,375 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name = ?
 LIMIT ? OFFSET ?
2021-01-20 12:56:08,376 INFO sqlalchemy.engine.base.Engine ('ed', 1, 0)

In [13]:
our_user

In [14]:
session.add_all([
     User(name='wendy', fullname='Wendy Williams', nickname='windy'),
     User(name='mary', fullname='Mary Contrary', nickname='mary'),
     User(name='fred', fullname='Fred Flintstone', nickname='freddy')])

In [15]:
ed_user.nickname = 'eddie'

In [16]:
session.dirty

IdentitySet([<User(name='ed', fullname='Ed Jones', nickname='eddie')>])

In [17]:
session.new

IdentitySet([<User(name='wendy', fullname='Wendy Williams', nickname='windy')>, <User(name='mary', fullname='Mary Contrary', nickname='mary')>, <User(name='fred', fullname='Fred Flintstone', nickname='freddy')>])

In [18]:
session.commit()

2021-01-20 12:56:09,700 INFO sqlalchemy.engine.base.Engine UPDATE "USERS" SET nickname=? WHERE "USERS".id = ?
2021-01-20 12:56:09,700 INFO sqlalchemy.engine.base.Engine ('eddie', 1)
2021-01-20 12:56:09,701 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,702 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'windy')
2021-01-20 12:56:09,703 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,703 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'mary')
2021-01-20 12:56:09,704 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:09,705 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flintstone', 'freddy')
2021-01-20 12:56:09,705 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
ed_user.name = 'Edwardo'

In [20]:
fake_user = User(name='fakeuser', fullname='Invalid', nickname='12345')
session.add(fake_user)

In [21]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2021-01-20 12:56:10,925 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:10,926 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".id = ?
2021-01-20 12:56:10,927 INFO sqlalchemy.engine.base.Engine (1,)
2021-01-20 12:56:10,928 INFO sqlalchemy.engine.base.Engine UPDATE "USERS" SET name=? WHERE "USERS".id = ?
2021-01-20 12:56:10,929 INFO sqlalchemy.engine.base.Engine ('Edwardo', 1)
2021-01-20 12:56:10,930 INFO sqlalchemy.engine.base.Engine INSERT INTO "USERS" (name, fullname, nickname) VALUES (?, ?, ?)
2021-01-20 12:56:10,930 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2021-01-20 12:56:10,931 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name IN (?, ?)
2021-01-20 12:56:10,932 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[<User(name='Edwardo', fullname='Ed Jones', nickname='eddie')>,
 <User(name='fakeuser', fullname='Invalid', nickname='12345')>]

In [22]:
session.rollback()

2021-01-20 12:56:11,304 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [23]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2021-01-20 12:56:11,692 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-20 12:56:11,693 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS"
WHERE "USERS".name IN (?, ?)
2021-01-20 12:56:11,694 INFO sqlalchemy.engine.base.Engine ('Edwardo', 'fakeuser')

[]

In [26]:
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2021-01-20 12:59:22,557 INFO sqlalchemy.engine.base.Engine SELECT "USERS".id AS "USERS_id", "USERS".name AS "USERS_name", "USERS".fullname AS "USERS_fullname", "USERS".nickname AS "USERS_nickname"
FROM "USERS" ORDER BY "USERS".id
2021-01-20 12:59:22,558 INFO sqlalchemy.engine.base.Engine ()
ed Ed Jones
wendy Wendy Williams
mary Mary Contrary
fred Fred Flintstone

In [32]:
for row in session.query(User.fullname.label('name_label')).all():
    print(row.name_label)

2021-01-20 13:00:27,865 INFO sqlalchemy.engine.base.Engine SELECT "USERS".fullname AS name_label
FROM "USERS"
2021-01-20 13:00:27,866 INFO sqlalchemy.engine.base.Engine ()
Ed Jones
Wendy Williams
Mary Contrary
Fred Flintstone